<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row game">
        <div class="row cabecera d-flex justify-content-between align-items-center">
                <div class="col-md-4 d-flex justify-content-start">
                    <button id="Escapar" class="btn btn-outline-light" [disabled]="!running" (click)="salir('Dale! Nos vemos! Te cuido el Score')">Salir</button>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <h1 class="text-center">¡Mayor o Menor!</h1>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                    <div class="d-grid">
                        <span class="text-end">Mejor puntaje: {{puntajeMaximo}} pts.</span>
                        <span class="text-end">Último puntaje: {{puntajeUltimo}} pts.</span>
                        <span class="text-end">Puntaje actual: {{puntaje}} pts.</span>
                    </div>
                </div>
        </div>
        <div class="row d-flex justify-content-center gContainer">
            @if(loading){
                <div class="spinner-container">
                    <img class="spinner" src="../../../../assets/m-m/poker-card.gif" alt="">
                    <span class="span">{{msjMook}}</span>
                </div>
            }
            @else {
                @if(!running){
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-lg btn-outline-light w-50 h-50 start" (click)="start()">Start_</button>
                    </div>
                }
                @else{
                    <div class="col-3 previousCard">
                        <h2> Carta anterior</h2>
                        <img src="{{imgCartaAnterior}}" alt="">
                    </div>
                    <div class="col-4 currentCard" >
                        <img src="{{imgActual}}" alt="" [ngClass]="{'ok': result, 'error': !result, 'nada': result==-1}">
                    </div>
                    <div class="col-3 mayor-menor">
                        <button class="btn btn-lg btn-outline-success" (click)="obtenerCarta(1)">Mayor</button>
                        <button class="btn btn-lg btn-outline-danger" (click)="obtenerCarta(0)">Menor</button>
                    </div>
                }
            }
        </div>
    </div>
</div>