.cardContainer{
    width: 450px;
    height: 650px;
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
  }
  .card-header{
    background-color: #868686;
    color: rgb(255, 255, 255);
    font-weight: 800;
  }
  .card-body{
    padding: 0.5rem;
    background-image: url(".././../../assets/chat/bk-chat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 22px;
  }
  .card-footer{
    position: absolute;
    bottom: 0rem;
    background-color: rgb(101, 101, 101);
    border-radius: 5px;
    input{
      border-radius: 50px!important;

    }
    span{
      border-radius: 50px;
      margin-left: 5px;
    }
  }
  .input-group-append{
    cursor: pointer;
  }
  .input-group-append:hover{
    opacity: 0.5;
  }
  .img-send:active{
    transform: scale(0.9);
  }
  p{
    color: azure;
  }
  .send{
    display: grid;
    grid-column: auto;
    grid-gap: 0;
    float: right;
    background: transparent;
    background-color: rgba(44, 65, 223, 0.8);  
    color: white;
    min-width: 50.01%;
    border-radius:10px;
    text-align: left;
  }
  .received{
    display: grid;
    float: left;
    background: transparent;
    background-color: rgba(154, 62, 230, 0.8); 
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
    
  }
  .received  .user-name{
    color: #22151d;
  }
  .container-messages{
    overflow: scroll;
    padding: 0.3rem;
  }
  .container-messages:state(webkit-scrollbar){
    display: none;
  }
  .chat-icon-container{
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    cursor: pointer;
    background: linear-gradient(to right, #e44491, #7c1ca4);
    background-color: #7c1ca4;
    border-radius: 100%;
    box-shadow: 0 0 10px 2px #6e3a64;
  }
  .icon-button{
    width: 60px;
    height: 60px;
  }
  .img-send{
    width: 22px;
    height: 22px;
  }
  .user-name{
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    letter-spacing: 2px;

    font-weight: 1000;
    margin: 0px;
  }
  .text{
    font-size: 16px;
    margin: 0px;
  }
  .user-date{
    font-size: 11px;
    text-align: right;
    margin: 0px;
  }
  .btn-close{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: aliceblue;
  }
