<section class="wrapper">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card text-dark card-has-bg click-col" [routerLink]="['/ahorcado']" routerLinkActive="router-link-active"  style="background-image:url('../../../assets/img_juegos/El_ahorcado.jpeg');">
                    <img class="card-img d-none" src="../../../assets/img_juegos/El_ahorcado.jpeg" alt="El ahorcado">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <h2 class="card-title fs-1 mt-0 text-light">El ahorcado</h2>
                        </div>
                        <div class="card-footer">
                            <div class="media">
                                <div class="media-body text-end">
                                    <h2 class="my-0 f fs-1 text-light" >El ahorcado</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card text-dark card-has-bg click-col" [routerLink]="['/mayor-o-menor']" routerLinkActive="router-link-active"  style="background-image:url('../../../assets/img_juegos/Mayor_o_menor.jpeg');">
                    <img class="card-img d-none" src="../../../assets/img_juegos/Mayor_o_menor.jpeg" alt="Mayor o menor">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <h2 class="card-title fs-1 mt-0 text-light">Mayor o menor</h2>
                        </div>
                        <div class="card-footer">
                            <div class="media">
                                <div class="media-body text-end" >
                                    <h2 class="my-0 f fs-1 text-light">Mayor o menor</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card text-dark card-has-bg click-col" [routerLink]="['/']" routerLinkActive="router-link-active" style="background-image:url('../../../assets/img_juegos/Preguntados.jpeg');">
                    <img class="card-img d-none" src="../../../assets/img_juegos/Preguntados.jpeg" alt="Preguntados">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <h2 class="card-title fs-1 mt-0 text-light">Preguntados</h2>
                        </div>
                        <div class="card-footer">
                            <div class="media">
                                <div class="media-body text-end">
                                    <h2 class="my-0 f fs-1 text-light">Preguntados</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card text-dark card-has-bg click-col" [routerLink]="['/quien-soy']" routerLinkActive="router-link-active" style="background-image:url('../../../assets/img_juegos/Quien_soy.jpg');    background-size: cover;
                background-repeat: no-repeat;">
                    <img class="card-img d-none" src="../../../assets/img_juegos/Quien_soy.jpg" alt="Quién soy">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <h2 class="card-title fs-1 mt-0 text-light"> Quién soy </h2>
                        </div>
                        <div class="card-footer">
                            <div class="media">
                                <div class="media-body text-end">
                                    <h2 class="my-0 f fs-1 text-light"> Quién soy </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card text-dark card-has-bg click-col" [routerLink]="['/home']" routerLinkActive="router-link-active" style="background-image:url('../../../assets/img_juegos/sin_juego.jpeg');">
                    <img class="card-img d-none" src="../../../assets/img_juegos/sin_juego.jpeg" alt="Sin juego">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <h2 class="card-title fs-1 mt-0 text-light"> Ya se me va a ocurrir algo </h2>
                        </div>
                        <div class="card-footer">
                            <div class="media">
                                <div class="media-body text-end">
                                    <h2 class="my-0 f fs-1 text-light"> Ya se me va a ocurrir algo </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  