.log{
  width: 60%;
  height: 60%;
  margin-top: 12%;
  border-radius: 30px;
  padding: 0 20px 20px 0!important;
  border: 1px solid rgb(247, 0, 255);
  background: transparent;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.8);
}

.col_izq{
  border-radius: 30px 0 0 30px;
  margin: 0%!important;
  .col_up{
    height: 60%;
    padding-bottom: 10px;
    img{
      border-radius: 500px;
      padding: 10px;
      height: 100% !important;
      width: 100% !important;
    }
  }
  .col_dn{
    height: 40%;
    display: grid;
    gap: 10px;
    button{
      border-radius: 200px;
      width: 100%;
      border-width: 3px;
      font-size: 30px;
    }
  }
}

.col_form{
  padding: 50px;
  width: 105%;
  height: 100%;
  border: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bolder;
    font-size: 60px;
    color: azure;
    text-shadow: 0px 0px 10px rgb(238, 0, 255);
  }
  div{
    padding: 20px;
  }
  label{
    color: azure;
    text-transform:capitalize;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 5px;
    padding-left: 20px;
  }
  input{
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    padding: 0px 20px;
    border: none;
    // margin-bottom: 30px;
    color: white;
  }
  span{
    color: aqua;
  }
  button{
    border-radius: 40px;
    margin-top: 30px;
    color: white;
  }

}
.span-link{
  cursor: pointer;
  text-decoration: underline;
}
.span-link:hover{
  color: rgb(6, 141, 182)!important;
  text-decoration: none;

}

// @keyframes girar {
//   0% { transform: rotate(0deg); }
//   100% { transform: rotate(360deg); }
// }

// @keyframes cambiarColor {
//   0% { border-color: red; }
//   25% { border-color: yellow; }
//   50% { border-color: blue; }
//   75% { border-color: green; }
//   100% { border-color: red; }
// }
// animation: girar 5s linear infinite, cambiarColor 4s linear infinite;

