<nav class="navbar bg-body-tertiary border-bottom border-body " data-bs-theme="dark">
    <div class="container-fluid">
        <div>
            <img class="px-3" src="../../../assets/icons/ghost.png" alt="">
            <a class="navbar-brand">{{this.authenticator.currentUser()?.email}}</a>
        </div>
        <h1 class="navbar-brand fs-1">Bienvenido {{this.authenticator.currentUser()?.nombrecompleto}} - Sala de Juegos!</h1>
        <div class="d-flex" role="search">
            @if(!this.authenticator.currentUser()){
                <button class="btn btn-outline-info px-5 me-2" type="button" [routerLink]="['/login']" > Inicia Sesión </button>
                <button class="btn btn-outline-light px-5 ms-2" type="button" [routerLink]="['/singup']"> Registrate </button>
            }
            @else{
                <button class="btn btn-outline-primary px-5 mx-2" type="button" (click)="CerrarSesion()" > Cerrar Sesión </button>
            }
        </div> 
    </div> 
</nav>