<div class="container d-flex justify-content-center align-items-center " style="height: 100vh;">
    <div class="card asd" style="width: 60vw;">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="row">
                    <img src="../../../assets/img_juegos/Quien_soy.jpg" class="foto" alt="...">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-header">
                        <h1 class="card-title ">Bayón Lucas - A342</h1>
                </div>
                <div class="card-body h-75 descripcion">
                    <p>Sequence! </p>
                    <p>El juego consta en repetir la secuencia de colores sin errarle en ningun momento. Cada vez que se logré pasar el desafio, le espera con otro mas complicado. Por cada victoria son 10 puntos. Y por cada derrota ¡MENOS 15 PUNTOS!</p>
                    <p>Mucha suerte!</p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-outline-dark p-2 m-2 btn-lg" [routerLink]="['/sequence']" routerLinkActive="router-link-active" >¡A jugar!</button>
                </div>
            </div>
        </div>
    </div>
</div>