/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('../src/assets/backgrounds/fondo.jpeg');
    background-size: cover; /* O utiliza 'contain' según tus necesidades */
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  